################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StudentManagerApp/FileContentIndex/96aaa7da-14a0-4a77-a098-d8fa3a722cd0.vsidx
/.vs/StudentManagerApp/FileContentIndex/9d006def-c62d-430d-87ea-dffbb8087908.vsidx
/.vs/StudentManagerApp/FileContentIndex/be7d13bd-08bf-4e88-a751-4be02b2519dc.vsidx
/.vs/StudentManagerApp/FileContentIndex/c2d528ee-654c-4b1e-b526-225be4019aa1.vsidx
/StudentManagerApp/obj/Debug/net8.0/StudentManagerApp.AssemblyInfo.cs
/StudentManagerApp/obj/Debug/net8.0/StudentManagerApp.AssemblyInfoInputs.cache
/.vs/StudentManagerApp/FileContentIndex/6388e283-63dc-4f0a-a9bb-fc0f825a79f6.vsidx
/.gitignore
/.vs/StudentManagerApp/FileContentIndex/c247aad1-067e-490b-9f63-b72adf9f562b.vsidx
/.vs/StudentManagerApp/FileContentIndex/d41e9644-fdd2-4291-9ede-46717eb19636.vsidx
/.vs/StudentManagerApp/FileContentIndex/f48e4fb9-6132-482f-987f-0bb4aeb472e0.vsidx
/.gitignore
/.vs/StudentManagerApp/DesignTimeBuild/.dtbcache.v2
/.vs/StudentManagerApp/FileContentIndex/0501ef5e-7ab5-4580-9b8f-035dfc8bbde5.vsidx
/.vs/StudentManagerApp/FileContentIndex/5ba0be6a-8297-4a61-a645-eba6b8d1f904.vsidx
/.vs/StudentManagerApp/FileContentIndex/e8f1d786-fb3e-4cd8-b03b-c818522e0d05.vsidx
/.vs/StudentManagerApp/FileContentIndex/9f43675e-c267-4a15-8f7f-1b9c3a72ddd3.vsidx
/.vs/StudentManagerApp/FileContentIndex/ac3d531b-4dc9-45cf-a0eb-a0133ddd7863.vsidx
/.vs/StudentManagerApp/FileContentIndex/bc8d7eff-14b1-4836-acac-498409f6a8df.vsidx
/.vs/StudentManagerApp/v17/DocumentLayout.json
/StudentManagerApp/bin/Debug/net8.0/StudentManagerApp.dll
/StudentManagerApp/bin/Debug/net8.0/StudentManagerApp.pdb
/StudentManagerApp/bin/Debug/net8.0/wwwroot/_framework/blazor.boot.json
/StudentManagerApp/bin/Debug/net8.0/wwwroot/_framework/blazor.boot.json.gz
/StudentManagerApp/bin/Debug/net8.0/wwwroot/_framework/StudentManagerApp.pdb
/StudentManagerApp/bin/Debug/net8.0/wwwroot/_framework/StudentManagerApp.pdb.gz
/StudentManagerApp/bin/Debug/net8.0/wwwroot/_framework/StudentManagerApp.wasm
/StudentManagerApp/bin/Debug/net8.0/wwwroot/_framework/StudentManagerApp.wasm.gz
/StudentManagerApp/obj/Debug/net8.0/blazor.boot.json
/StudentManagerApp/obj/Debug/net8.0/compressed/ef5jukrrlg.gz
/StudentManagerApp/obj/Debug/net8.0/compressed/fveyapdap7.gz
/StudentManagerApp/obj/Debug/net8.0/compressed/k4qgzbsnpk.gz
/StudentManagerApp/obj/Debug/net8.0/ref/StudentManagerApp.dll
/StudentManagerApp/obj/Debug/net8.0/refint/StudentManagerApp.dll
/StudentManagerApp/obj/Debug/net8.0/StudentManagerApp.csproj.CoreCompileInputs.cache
/StudentManagerApp/obj/Debug/net8.0/StudentManagerApp.csproj.FileListAbsolute.txt
/StudentManagerApp/obj/Debug/net8.0/StudentManagerApp.dll
/StudentManagerApp/obj/Debug/net8.0/StudentManagerApp.pdb
/.vs/StudentManagerApp/config/applicationhost.config
/.vs/StudentManagerApp/v17/.suo
/StudentManagerApp/obj/Debug/net8.0/StudentManagerApp.sourcelink.json
/StudentManagerApp/obj/Debug/net8.0/tmp-webcil/StudentManagerApp.wasm
/StudentManagerApp/obj/Debug/net8.0/webcil/StudentManagerApp.wasm
/.vs/StudentManagerApp/FileContentIndex/4c703b25-dcc6-48f2-ac8f-337615774649.vsidx
/.vs/StudentManagerApp/FileContentIndex/b1465b20-86f5-4148-91f7-45550c9aa609.vsidx
/.vs/StudentManagerApp/FileContentIndex/bacc7e1c-9f74-4337-abe8-7ae108257419.vsidx
